body {
    background-color: #ffc0cb
}

h1 {
    font-family: "Barrio", system-ui;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  color: rgb(226, 13, 119);
  text-align: center;
  font-size: 4rem;
  background-color: white;
  outline: 2rem pink dashed;
 

}

hr {
    height: .5rem;
    background-color:rgb(226, 13, 119);
    margin-top: 1.5rem;
    border: none;
}

h2 {
    text-align: right;
    font-family: serif, Helvetica, sans-serif;
    color: #B20A5E;
    font-size: 2rem;
    font-style: italic;
    margin-top: 2.5rem;

}

header {
    background-color: rgb(150, 231, 150);
 padding: 1rem;
outline: .75rem solid rgb(150, 231, 150);

}

img {

    border: 1rem solid;
    color: rgb(150, 231, 150);;
    outline: 0.35rem dashed rgb(226, 13, 119);
    margin: 2rem;
    max-width: 100%;
    float: left;
}

p {
    font-family: serif, Helvetica, sans-serif;
    font-weight: bold;
    color: rgb(162, 41, 93);;
    font-size: 1.5rem;
    line-height: 4rem;
    background-color: white;
    margin: 3rem;
    border: 0.25rem solid rgb(226, 13, 119);

   
}

footer {
    background-color: rgb(150, 231, 150);
  padding: .5rem;
  font-family: serif, Helvetica, sans-serif;
  font-size: 1rem;

}

a:link {
    color: black;
    text-decoration: underline;
    padding-right: 10rem;
}

a:visited {
color: rgb(45, 11, 35);
text-decoration: none;
}

a:hover {
  color: rgb(91, 141, 91);
}

a:active {
    color:white;
}