body {
background-image: url("../../images/background.jpg");
margin: 0;
font-family: "Atma", system-ui;
font-weight: 400;
font-style: normal;

}

header {

    background-color: #5e5e6e;
    color: white;
    padding: 2rem;
    text-align: right;

}

main {
    border: 0px solid red
}

article {
    border: 1px solid;
    background-color: white;
    padding: 1.3rem;
    margin: .5rem;
    margin-bottom: 1.5rem;
    border-radius: 1.5rem;
}
footer {

    background-color: white;
    color: black;
    padding: 1rem;
    text-align: center;
}

h1 {
    text-align: center;
    background-color: #b2b2ce;
    margin: 2rem;
    border-radius: 2rem;
  
}

a:link {
    color: #b24b87;

}

a:visited {
    color: #734b9f
}

a:hover {
    color: #E00000
}

a:active {
    color: #008000
}

header a:link {
    color: white;
    text-decoration: none;
}

header a:visited {
    color: #ffffff;
    text-decoration: none;
}

header a:hover {
    color: #75FF75;
    text-decoration: none;

}

header a:active {
    color: #FFD6EB;
    text-decoration: none;
}

h2.logo {
    background-color: #EC6565;
    text-align: center;
    width: 6rem;
    height: 6rem;
    display: grid;
    align-items: center;
    border-radius: 50%;

}
.wrapper {
    border: 0px black solid;
    margin: 0 auto;
    max-width: 40rem;
}