body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #83B4E2;
}

h1 {
color: #C7DBEE;
background-color: #1B446A;
padding: 1.5rem;
text-transform: uppercase;
font-family: "Barrio", serif;
font-weight: 400;
font-style: normal;
}

p {
margin: 1.5rem;
line-height: 1.5rem;
font-family: "Courier New", Courier, monospace;
}

img {
float: right;
border: 2px #ffffff solid;
margin: .65rem;
max-width: 100%;
}

h2 {
    margin: 1.5rem;
    padding: 1.5rem;
    background-color: #1B446A;
    color: #C7DBEE
}

hr {
    border: 1px dashed;
}

a:link {
    color: rgb(179, 23, 101);
    text-decoration: underline;
}

a:visited {
color: rgba(84, 13, 27, 0.66);
text-decoration: none;
}

a:hover {
    color: pink
}

a:active {
    color:rgba(105, 53, 63, 0.66);
}
