.spinnyelement {

	height: 200px; /* determines shape height */
	width: 200px; /* determines shape width */
	background-color: fuchsia; /* Shape Color */
	animation:ease-in-out infinite ;
  /* ease-in-out: creates a smooth, natural movement. */
  /* infinite: makes it go on forever */
	animation-name: spin; /* specifies a name for the animation */
	animation-duration: 3s; /* determines how long the animation is */
	animation-direction:normal; /* determines which way the animation goes */
}

@keyframes spin{

0%{
	Transform: rotate(360deg); /* actual animation */
	Border-radius: 0%; /* rounds edges */
    }
}

.bouncyelement {
  background-color: red;
  border-radius: 100%;
  height: 50px;
  position:absolute;
  width: 50px;
  animation: bounce 1s ease-in-out infinite;
  animation-fill-mode: both; /* i dont know wtf this does */
  animation-direction: alternate; /* essentially creates the loop, makes it go back and forth */
}

@keyframes bounce {
  from {
    top: 50%; 
    transform: scaleX(79.5%) scaleY(65%);
  }
  to {
    top: 60%;
  }
}
