.spinnyelement {

	height: 200px; /* determines shape height */
	width: 200px; /* determines shape width */
	background-color: fuchsia; /* Shape Color */
	animation:ease-in-out infinite ;
  /* ease-in-out: creates a smooth, natural movement. */
  /* infinite: makes it go on forever */
	animation-name: spin; /* specifies a name for the animation */
	animation-duration: 3s; /* determines how long the animation is */
	animation-direction:normal; /* determines which way the animation goes */
}

@keyframes spin{

0%{
	Transform: rotate(360deg); /* actual animation */
	Border-radius: 0%; /* rounds edges */
    }
}

.bouncyelement {
  background-color: red; 
  border-radius: 100%; /* actual animation */
  height: 50px;
  position:absolute;
  width: 50px;
  animation: bounce 1s ease-in-out infinite;
  animation-fill-mode: both; /* i dont know wtf this does */
  animation-direction: alternate; /* essentially creates the loop, makes it go back and forth */
}

@keyframes bounce {
  from {
    top: 50%; 
    transform: scaleX(79.5%) scaleY(65%);
  }
  to {
    top: 60%;
  }
}

/* The animation code */
@keyframes myAnimation {
  from {background-color: red;}
  to {background-color: yellow;}
}

/* The element to apply the animation to */
.colorchange {
  width: 100px;
  height: 100px;
  background-color: red;
  animation-name: changecolor;
  animation-duration: 10s;
}

@keyframes changecolor {
  0%   {background-color: red;}
  10%  {background-color: orange;}
  25%  {background-color: yellow;}
  50% {background-color: green;}
  75% {background-color: blue;}
  100% {background-color: purple;}
}

.colorchange {
  width: 100px;
  height: 100px;
  background-color: red;
  animation-name: myAnimation;
  animation-duration: 4s;
}
