.spinnyelement {

	height: 200px;
	width: 200px;
	background-color: fuchsia; 
	display: flex;
	animation:ease-in-out infinite;
	animation-name: spin;
	animation-duration: 3s;
	animation-direction:alternate-reverse;
}

@keyframes spin{
    0%{

    }

0%{
	Transform: rotate(360deg); /* actual animation */
	Border-radius: 0%; /* rounds edges */
    }
}

.bouncyelement {
  background-color: red;
  border-radius: 100%;
  height: 50px;
  position:absolute;
  width: 50px;
  animation: bounce 1s ease-in-out infinite;
  animation-fill-mode: both; /* i dont know wtf this does */
  animation-direction: alternate; /* essentially creates the loop, makes it go back and forth */
}

@keyframes bounce {
  from {
    top: 50%; /* determines how high on the page it goes */
    transform: scaleX(79.5%) scaleY(65%);
  }
  to {
    top: 60%; /* determines how low on the page it goes */
  }
}
