

#mustache {
    position: absolute;

    top: 295px;
    left: 420px;


}

h1 {
    font-family: "Emilys Candy", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 4rem;
    text-align: center;
    color: rgb(225, 162, 173)

}

    
body {
    background-color: purple;

}

#baseImage {

    position: absolute;
    left: 320px;
}

button {
    color: purple;
    background-color: pink;
    border: .25rem, solid, rgb(88, 170, 188);
    position: absolute;
    top: 200px;
  
    font-size: 1.5rem; 
 

}

#wig {
    position: absolute;
    left: 360px;
    top: 100px;
}

#wigbutton {
    position: absolute;
    top: 250px;

}

hr {

    height: .2rem;
    margin-top: -3rem;
    background-color:rgb(226, 13, 119);
    border: none;

}

